@model Cadastro_MVC.Departamento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="content-panel" style="padding:20px">

                <h2>Detalhes</h2>

                <div>
                    <h4>Departamento</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Nome)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Descricao)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Descricao)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" }) |
                    @Html.ActionLink("Voltar para lista", "Index",null , new { @class = "btn btn-default" })
                </p>
            </div>
        </div>
    </div>
</section>